.textInfo {
    display: grid;
    grid-template-columns: 1fr 160px;
    grid-gap: 20px;
    padding: 5px 15px;
    background-color: #f8b576;
}

.textInfo a {
    color: black;
    font-weight: 600;
}