.textInfo {
    background-color: #f8b576;
    padding: 2px 45px;
    text-align: center;
}

.textInfo a {
    color: black;
    font-weight: 600;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
    .textInfo {
        display: inline-block;
        padding: 7px;
        z-index: 5;
        position: relative;
    }

}