.blockPresentInfo {
    background-color: antiquewhite;
    padding: 7px;
    margin: 9px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}

.blockPresentInfo h3 {
    text-align: center;
    margin: 5px 0;
}

.sectionToolsPayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
}

.payLvtBlockLabel {
    display: block;
    margin-bottom: 10px;
    background-color: #efefef;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.payLvtBlockLabelCheced {
    display: block;
    margin-bottom: 10px;
    background-color: #FFC107;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.sectionToolsPayGrid input {
    float: left;
    margin-right: 10px;
}

.iconPayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.iconPayGrid img {
    width: 65px;
}

.titlePayInfo p {
    text-transform: uppercase;
}

.itemPayInfo::before {
    content: "";
    background: url(./../img/icon/icon-checked-1709977.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
}

.itemPayInfo {
    display: flex;
    font-size: 13px;
}

.blockPayUserSum {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-gap: 5px;
    align-items: center;
}

.bottomPayUserSum {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-gap: 10px;
    text-align: center;
    color: black;
    margin-top: 30px;
    align-items: start;
}

.textMinSumBlock {
    display: block;
}

.minSumBlock {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.iconMinSbp img {
    width: 50px;
    margin-top: 10px;
}

.blockTextMinSumBlock {
    margin-top: 15px;
}

.labelGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.payLvtBlock {
    background-color: #fff;
    padding: 10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.sumInputBlock {
    color: #000;
    /* display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px; */
}

.bonusWeight {
    font-weight: 600;
}

.rowSumInput {
    margin-bottom: 5px;
}

.rowSumInputFlex {
    display: flex;
    align-items: center;
}

.rowSumInputFlex img {
    margin-left: 5px;
}

.btnAddLvtBalance button {
    margin-top: 10px;
    background-color: #FFC107;
    font-weight: 600;
}

.btnAddLvtBalance button:hover {
    background-color: #efb402;
}

.noSumBalanse {
    margin-left: 20px;
    background-color: #F44336;
    padding: 3px;
    border-radius: 2px;
    color: #fff;
}

.linkPayKonf a {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
}

.linkPayKonf {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.textPayUserInfo {
    padding: 4px 5px;
    font-size: 13px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 5px;
}

.textPayUserInfoOne {
    background-color: #fff;
}

.textPayUserInfoTwo {
    background-color: #ffffff;
}

.textPayUserInfo p {
    margin: 5px;
}

.blockPayGridHeight {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    height: 100%;
}

.sidebarBalance {
    position: relative;
}

.linkModal {
    display: block;
    margin-bottom: 5px;
}

.linkModal button:hover {
    color: #ebba1b !important;
}