.blockPresentInfo {
    background-color: antiquewhite;
    padding: 7px;
    margin: 9px;
    border-radius: 10px;
}

.blockPresentInfo h3 {
    text-align: center;
    margin: 5px 0;
}

.sectionToolsPayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.iconPayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.iconPayGrid img {
    width: 65px;
}

.titlePayInfo p {
    text-transform: uppercase;
}

.itemPayInfo::before {
    content: "";
    background: url(./../img/icon/icon-checked-1709977.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
}

.itemPayInfo {
    display: flex;
    font-size: 13px;
}

.inputPayUserSum {
    margin-left: 10px;
    width: 120px;
    height: 25px;
    font-size: 23px;
    padding-left: 5px;
    border-radius: 5px;
}

.textInputPayUserSum {
    font-size: 15px;
}

.blockPayUserSum {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-gap: 5px;
    align-items: center;
}

.bottomPayUserSum {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-gap: 10px;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.textMinSumBlock {
    display: block;
}

.minSumBlock {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.iconMinSbp img {
    width: 50px;
    margin-top: 10px;
}

.blockTextMinSumBlock {
    margin-top: 15px;
}

.btnPay {
    cursor: pointer;
    border: none;
    font-size: 22px;
    background-color: orange;
    color: black;
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
}

.errorNullSum {
    color: brown;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 500;
}