.versionApp {
    font-weight: 600;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    position: relative;
}

.versionApp::after {
    content: 'new';
    background: #158007;
    position: absolute;
    top: -27px;
    line-height: 16px;
    height: 18px;
    width: 31px;
    padding-left: 4px;
    margin-left: -5px;
    border-radius: 3px;
}

.documentacioNavTitle {
    font-size: 14px;
}

.iconDocNav {
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.icon img {
    width: 20px;
    margin-right: 5px;
}

.documentacionNav li {
    display: flex;
    margin-bottom: 10px;
}

/* Стили для десктопа */
@media (min-width: 769px) {
    .sidebar.desktop {
        /* Ваши стили для сайдбара на десктопе */
        display: block;
    }

    .sidebar.mobile {
        display: none;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .sidebar.desktop {
        display: none;
    }

    .blockIconClose {
        padding: 15px;
        position: absolute;
        right: 0;
    }

    .sidebar.mobile {
        /* Ваши стили для сайдбара на мобильных устройствах */
        display: inline-block;
    }

    .mobileHeader {
        display: grid;
        grid-template-columns: 1fr 60px;
        grid-gap: 15px;
        align-items: center;
    }

    .sidebar {
        transition: transform 1.8s ease;
    }

    .open {
        transform: translateX(0);
    }
}