.headerContainerGrid {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    justify-content: start;
    grid-gap: 15px;
    margin-bottom: 10px;
    position: relative;
    align-content: center;
    align-items: center;
    justify-items: end;
    margin: auto;
}

.iconMenuLvt::after {
    content: '';
    background-image: url(./../img/icon/icon-vertical-menu.png);
    background-size: 13px;
    width: 13px;
    height: 13px;
    position: relative;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
}

header {
    background-color: #f7b637;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
}