.headerContainerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto;
    justify-content: start;
    grid-gap: 15px;
    margin-bottom: 10px;
    position: relative;
    align-content: center;
    align-items: center;
    justify-items: start;
    margin: auto;
}

.iconMenuLvt::after {
    content: '';
    background-image: url(./../img/icon/icon-vertical-menu.png);
    background-size: 13px;
    width: 13px;
    height: 13px;
    position: relative;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
}

header {
    background-color: #f7b637;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

/* Стили для десктопа */
@media (min-width: 769px) {
    .headerMobile {
        display: none;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .headerDekstop {
        display: none;
    }

    .balanceMobileHeader {
        display: grid;
        grid-gap: 5px;
    }

    .headerContainerGridMobile {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: space-between;
    }

    .noAuthMobHeader {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}