.blockProfilePage,
.pageReferal {
    background-color: #fff;
    border-radius: 8px;
    min-height: 100vh;
    padding: 15px;
}

.blockLinkReferal,
.profileBlockUser,
.profileBlockBalance {
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    margin: 30px 0;
    padding: 10px 20px;
}

.gridBlockReferal {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-content: start;
}

.numberReferal,
.numberBalance {
    font-size: 28px;
    margin-left: 10px;
}

.textNumberReferal,
.textNumberBalance {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.nameUserBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    justify-content: start;
}

.nameUserBlock span {
    font-size: 18px;
}

.avatarUser {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-bottom: 40px;
    justify-items: start;
}

.avatarUser img.imgAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.linkBtnProfileBalance {
    margin: 20px 0;
    display: inline-block;
}

.linkBtnProfileBalance a {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.linkBtnProfileBalance a:hover {
    background-color: #006bc2;
}

.btnLoadingAvatar {
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.userInfoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
}

.btnEditUserData {
    margin-top: 20px;
    background-color: #f5b24d;
    border: none;
    font-size: 15px;
    padding: 4px 9px;
    border-radius: 3px;
    cursor: pointer;
}

.btnEditUserData:hover {
    background-color: #ee9a1c;
}

.blockProfilePage h1 {
    font-size: 28px;
    margin-bottom: 45px;
}

.editBtnPopUp {
    margin-top: 20px;
}

.inputEditPopUp {
    padding: 20px;
}

.blockInputPopUp {
    margin: 30px 0;
    text-align: center;
}

.saveBtnEdit {
    text-align: center;
}

.saveBtnEdit button {
    cursor: pointer;
    border: none;
    background-color: #FFC107;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
}

.inputEditPopUp h3 {
    text-align: center;
    font-size: 20px;
}

.textInput {
    font-size: 18px;
    margin-right: 10px;
    display: block;
}

.inputEditBlock input {
    font-size: 16px;
    text-align: center;
}

.inputEditBlock {
    margin: 20px 0;
}

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__fileIconWrapper {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__fileButtonText {
    line-height: 1;
    margin-top: 1px;
}

.input__fileButton {
    max-width: 175px;
    background: #2196F3;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0 10px;
}

.afterTitlereferal {
    font-size: 18px;
}

.afterTitlereferal span {
    display: inline-block;
    background-color: #FFC107;
    padding: 2px 5px;
}

.blockTextReferal {
    background-color: #1878cb;
    border-radius: 10px;
    display: block;
    margin: 30px 0;
    padding: 10px 20px;
    color: #fff;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .userInfoGrid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .blockProfilePage h1 {
        text-align: center;
    }

    .input__wrapper {
        display: flex;
        justify-content: center;
    }

    .gridBlockReferal {
        grid-template-columns: 1fr;
    }

    .textNumberReferal,
    .textNumberBalance {
        font-size: 14px;
        justify-content: space-between;
    }

    .numberReferal,
    .numberBalance {
        font-size: 17px;
        margin-left: 0px;
    }

    .avatarUser {
        justify-items: center;
        margin-bottom: 0;
    }

    .nameUserBlock span {
        font-size: 16px;
    }

    .nameUserBlock {
        justify-items: center;
    }

    .avatarUser img.imgAvatar {
        width: 110px;
        height: 110px;
    }

    .blockProfilePage h1 {
        margin-bottom: 15px;
    }
}