/* Позволяет сохранять подменю видимым при наведении на него */
.menuAuth:hover {
    display: block;
}

.menuAuthDivider {
    /* примерные отступы, можно настроить по вашему усмотрению */
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
    /* цвет и стиль линии */
}

.btnMenuClose {
    background: #2b5afd;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 7px 0;
    color: #fff;
    border-radius: 0;
}

.btnMenuAuth:hover {
    background: #FFC107;
}

.blockUserAvatar:hover .menuAuth {
    display: block;
    /* отображаем блок menuAuth при наведении на родителя */
}

.menuAuthBlock {
    font-size: 15px;
    position: relative;
    z-index: 6;
}

.menuAuthBlock ul {
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

.menuAuthBlock h3 {
    margin: 0;
    font-size: 15px;
    padding: 7px;
    text-align: left;
    color: brown;
}

.padding {
    padding: 5px 10px;
    text-align: left;
}

.gridMenuText {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: space-between;
}

a.btnMenuAuth,
.linkProfileHeader {
    color: #000;
    display: block;
}

.emailLogin span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.linkMenuToBalance a {
    color: #2e60f6;
    font-size: 14px;
}

.linkMenuTools {
    font-size: 23px;
    color: #000;
    border-bottom: 2px solid;
}

.linkMenuTools:hover {
    color: #ffffff;
}

.mainMenuNav a {
    text-decoration: none;
}

.mainMenuNav ol {
    font-size: 22px;
}

.mainMenuNav ol li {
    margin: 10px 0;
}

.menuLinkHeader a.link {
    display: block;
    border-radius: 20px;
    font-size: 17px;
    padding: 5px 15px;
    margin-left: 20px;
    background-color: rgb(255, 206, 59);
    color: rgb(49, 49, 49);
    font-weight: 500;
}

.menuLinkHeader a.link:hover {
    color: #000000;
}

.menuLinkHeader a.link:hover,
.menuLinkHeader button:hover {
    background-color: #dbdada;
}

.menuLinkHeader {
    display: inline-flex;
}

/* Стили для десктопа */
@media (min-width: 769px) {}

/* Стили для мобильных устройств */
@media (max-width: 768px) {

    .menuLinkHeader {
        display: none;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 1024px) {

    .menuLinkHeader {
        display: none;
    }
}