.blockUserAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.blockUserAvatar {
    position: relative;
    background-image: linear-gradient(90deg, red, blue);
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: inset 0 100vw #fff;
    height: 50px;
    object-fit: cover;
    width: 50px;
    text-align: center;
    /* добавляем позиционирование */
}

.blockUserAvatar .linkAvatarHeader {
    display: block;
}

.blockUserAvatar:hover .menuAuth {
    display: block;
    /* отображаем блок menuAuth при наведении на родителя */
}

.menuAuth {
    display: none;
    /* начинаем с скрытия блока */
    position: absolute;
    /* добавляем абсолютное позиционирование */
    top: 100%;
    /* позиционируем блок под ссылкой */
    left: 0;
    /* выравниваем блок слева */
    width: 220px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
    border: 3px solid #2e60f6;
}

.menuAuth hr {
    margin: 0;
}

.blockNoAuthHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.blockNoAuthHeader span {
    color: black;
    display: block;
    margin-left: 15px;
}

/* Стили для десктопа */
@media (min-width: 769px) {
    .linkHome {
        display: none;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {

    .menuLinkHeader {
        display: none;
    }

    .textAuthHeader {
        display: none;
    }
}