.signup_container {
    background-color: #FFC107;
    border-radius: 10px;
    padding: 20px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container h1 {
    font-size: 40px;
    margin-top: 0;
    text-align: center;
}

.input {
    outline: none;
    border: none;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 14px;
}

.error_msg {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.white_btn,
.green_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.green_btn {
    background-color: #03A9F4;
    color: white;
    margin: 10px;
}

.linkModalHeaderSignUp {
    cursor: pointer;
    font-size: 20px;
    background: #1d38d1;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.btnSignUp {
    background: none;
}

.btnSignUp:hover {
    background: #FFC107;
}

.closeBtnPopup {
    float: right;
}

.closeBtnPopup button {
    cursor: pointer;
    background-color: #FFC107;
    color: #000;
}

#popup-2.popup-content {
    margin: auto;
    background: #ffffff00;
    width: 50%;
    padding: 0px;
    border: none;
}

.closeBtnPopup {
    right: 0;
    padding: 10px;
    position: absolute;
    top: 0;
}

.closeBtnPopup button {
    cursor: pointer;
    background-color: #FFC107;
    color: #000;
    border: none;
    border-radius: 2px;
    font-size: 20px;
}

.ptahiniLogo {
    text-align: center;
}

.ptahiniLogo img {
    width: 170px;
}