:root {
    --scrollbarBg: rgb(33 122 205);
    --scrollbarThumb: rgba(255, 255, 255, 0.8);
    --scrollbarWidth: 10px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.notificationContainer {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    max-height: 500px;
    overflow: auto;
}

.notificationContainer::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.notificationContainer::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.notificationContainer::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

@media (max-width: 1024px) {}