.lodingBlockApp {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FFC107;
}

footer {
  margin-top: 40px;
}

header {
  margin-bottom: 40px;
}

article {
  min-height: 100vh;
}

/* #VkIdSdkOneTap div:not(:first-child) {
  display: none;
} */

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {

  .logoLoading img {
    width: 100%;
  }
}