.lodingBlockApp {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #81d2f8;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.containerApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {

  .logoLoading img {
    width: 100%;
  }
}