html,
body {
  overflow-x: hidden;
  margin: 0;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #000;
}

textarea {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
