html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

textarea {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

table td {
  border: 1px solid #dddddd;
  padding: 5px;
}